* {
  font-family: "poppins", sans-serif;
}
.banner {
  background-image: url(../slide.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 250px 0px;
}
.contactform {
  width: 100%;
}

.ctnbtn {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 2px;
  padding-right: 20px;
}
.img-fluid {
  display: flex;
  width: 70px;
  justify-content: space-between;
  margin-left: 30%;
  margin-top: 5%;
  background-size: cover;
}
